</main>

<footer class="footer blog-footer">
    <div class="container">
        <div class="content">
            <div class="columns">

                <div class="column is-three-fifths is-offset-one-fifth">
                    <nav class="level is-mobile">

                        <div class="level-left">
                            <div class="level-item">
                                © 2018 Daniele D'Orazio
                            </div>
                        </div>

                        <div class="level-right">
                            <div class="level-item">
                                <a href="https://github.com/d-dorazio">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="level-item">
                                <a href="https://twitter.com/danieled__">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="level-item">
                                {{ if .RSSLink }}
                                    <a href="{{ .RSSLink }}" type="application/rss+xml" target="_blank">
                                        <i class="fa fa-rss" aria-hidden="true"></i>
                                    </a>
                                {{ end }}
                            </div>

                        </div>

                    </nav>
                </div>

            </div>
        </div>
    </div>
</footer>
</body>

</html>
