</main>

<footer class="footer">
    <div class="container footer-container">
        <div style="margin-right: auto">
            © {{ now.Year }} Daniele D'Orazio
        </div>

        <div class="footer-icon">
            <a href="https://github.com/d-dorazio">
                <i class="fab fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="footer-icon">
            <a href="https://twitter.com/danieled__">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
        <div class="footer-icon">
            {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<a type="%s" href="%s" target="_blank" />` .MediaType.Type .Permalink | safeHTML }}
                <i class="fas fa-rss" aria-hidden="true"></i>
            </a>
            {{ end }}
        </div>
    </div>

</footer>
</body>

</html>
