<nav class="container navbar" role="navigation">
    <div class="logo">
        <a href='{{ relURL "/" }}'>
            <img src="/logo.svg" alt="d&#39;">
        </a>
    </div>

    <ul class="nav-links">
        <a href='{{ relURL "/" }}'>
            <span>
                Blog
            </span>
        </a>
        <a href='{{ relURL "/about/" }}'>
            <span>
                About
            </span>
        </a>
        <a href='{{ relURL "/library/" }}'>
            <span>
                Library
            </span>
        </a>
    </ul>
</nav>
